/* 레이아웃 */
body{
    background: url(../img/banner.jpg) center top repeat-x;
    background-size: cover;
}
#header{
    background-color: #424242;
}
#main, #footer{
    background-color: #fff;
}
#footer{
    border-top: 1px solid #dbdbdb;
}

/* 컨테이너 */
.container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    /* background: rgba(0,0,0,0.3); */
}

/* 자바 스크립트 컨트롤 */
.hidden{
    display: none;
}


/* 헤더 영역 */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    font-family: 'Fredoka One', cursive;
}
.header a span{
    font-size: 40px;
    padding-top: 6px;
    color:#fff;
}
.header ul li{
    display: inline; 
    padding-left: 13px;
}
.header ul li a{
    font-size: 20px;
    color:#fff;
}
.header a span:hover, .header ul li a:hover{
    color: #d1c4e9;
}


/* 타이틀 영역 */
.title{
    text-align: center;
    margin-top: 100px;
    padding-bottom: 100px;
}
.title h1{
    background-color: #d4d8f3;
    font-size: 45px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 6px 40px 10px;
    font-family: 'Fredoka One', cursive;
    transition: box-shadow 0.25s ease-in-out;

}
.title h1:hover{
    box-shadow: 
        inset -9em 0 0 0 #a3ade6,
        inset 9em 0 0 0 #a3ade6;
}
.title span{
    background-color: #e5e8fa;
    font-size: 25px;
    display: inline-block;
    margin-top: -7px;
    padding: 10px 10px;   
    border-radius: 10%;
    font-family: 'Hi Melody', cursive;
    transition: box-shadow 0.25s ease-in-out;
}
.title span:hover{
    box-shadow:
        inset 0 0 0 5px rgba(163, 173, 230, 0.9),
        inset 0 0 0 100px rgba(0, 0, 0, 0.1);
}


/* 컨텐츠 영역 */
.content{
    float: left;
    width: 70%;
    margin-top: 40px; 
    min-height: 1300px;
}
.content .cont_col{
    height: 250px;
    padding: 20px;   
    border-bottom: 1px solid #dbdbdb;
}
.content .cont_col:first-child{
    border-top: 1px solid #dbdbdb;
}

/* pagination */
.content .pagination{
    text-align: center;
    height: 100px;
}
.content .pagination ul, .content .pagination ul li{
    display: inline-block;
}
.content .pagination ul li{
    margin: 10px;
}



/* 어사이드 영역 */
.aside{
    position: absolute;
    right: 0; top: 0;
    width: 320px;
    margin-top: 40px;
}
.aside .aside_col{
    height: 430px;
    padding: 20px;  
    border-top: 1px solid #dbdbdb;
}

.aside .aside_top .profile{
    text-align: center;
}
.aside .aside_top .profile img{
    width: 200px; height: 200px;
    border-radius: 70%;
}



/* 푸터 영역 */
.footer{
    padding: 30px 0;
    text-align: center;
}
.footer ul{}
.footer ul li{
    display: inline;
}
.footer ul li a{
    color: #000;
}

/* 미디어 쿼리 */
/* 화면 너비 0~1220px 모니터 */
@media (max-width: 1220px){
    .container{width: 100%;}
    .white-space{padding: 0 20px;}
    .content{width: 66%;}
}
/* 화면 너비 0~1024px */
@media (max-width: 1024px){
}
/* 화면 너비 0~960px 태블릿 */
@media (max-width: 960px){
    .content{float: none; width: 100%;}
    .aside{display: none;}
}
/* 화면 너비 0~768px */
@media (max-width: 768px){
}
/* 화면 너비 0~600px 모바일 */
@media (max-width: 600px){
    .title{margin: 0; padding: 0;}
    .title h1{background-color: rgb(0,0,0,0);}
    .title span{display: none;}
}
/* 화면 너비 0~480px */
@media (max-width: 480px){
    
}